.show-menu {
    display: block;
}

.dropdown {
    margin-left: .5em;
}

.show-button {
    margin-left: .5em;
}

.top-row a {
    margin-left: 0;
}

.dropdown-item:hover {
    background-color: white;
}
